.underlined-title {
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #CCC;
}

.info-title {
    .info-title__title {
        font-size: 14px;
    }

    .info-title__value {
        color: #00CB79;
        font-size: 18px;
        font-weight: 600;
    }
}

.info-title-green {
    .info-title-green__title {
        font-weight: ;
        color: #00CB79;
    }
}