@import './layout.scss';
@import './headerNavbar.scss';
@import './auth/signIn.scss';
@import './auth/signUp.scss';
@import './page-title.scss';
@import './form-fields.scss';

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans';
    color: #808080;
}

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}