@import './layout.scss';
@import './headerNavbar.scss';
@import './auth/signIn.scss';
@import './auth/signUp.scss';
@import './pageTitle.scss';
@import './formFields.scss';
@import './details.scss';
@import './account/purchaseHistory.scss';
@import './account/accountInformation.scss';
@import './account/account.scss';
@import './shop/shop.scss';
@import './shop/shopSearchBar.scss';
@import './quantity.scss';
@import './greenPriceTag.scss';
@import './shop/shopProduct.scss';
@import './shop/cartProduct.scss';
@import './shop/shopCart.scss';
@import './order/review.scss';
@import './order/reviewForm.scss';

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans';
    color: #808080;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}